body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

nav {
  margin-bottom: -10px;
}

.jumbotron {
  background-color: transparent;  
  margin-top: -30px;
}

.navbar-brand {
  font-size: 2.5em;
}

.nav-link {
  font-size: 1.1em;
}

html,
body {
}

#navbar_links > ul > li > a {
  color: black;
}

#headshot {
  margin-bottom: 20px;
}

#bio_wrap {
  margin-bottom: 30px;
}
